---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.url != '/sitemap.xml' %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | dateToIsoDate }}</lastmod>
    <changefreq>{% if page.url == '/' %}weekly{% elif '/blog/' in page.url %}monthly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == '/' %}1.0{% elif page.url == '/kontakt/' or page.url == '/local-seo/' or page.url == '/ai/' %}0.9{% elif '/regionen/' in page.url %}0.7{% elif '/blog/' in page.url %}0.6{% elif page.url == '/impressum/' or page.url == '/datenschutz/' %}0.3{% else %}0.8{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
